<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{{STATIC_URL}}expense/layout.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{STATIC_URL}}expense//js/flot/excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}expense/js/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}expense/js/flot/jquery.flot.js"></script>

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}expense/js/flot/jquery.flot.stack.js"></script>
    <style>
      .xAxis .tickLabel {
      display: block;
      writing-mode: tb-rl;
      text-align: left!important;
      margin-top: 65px;
      margin-left: 40px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg)
      
      }
</style>
 </head>
 <body>
    <div id="placeholder" style="width:600px;height:300px;"></div>
<script id="source">
$(function () {
    var stack = 0, bars = true, lines = false, steps = false;

    var data = {{ chart_data|safe }};
    var options = {
        series: {
            stack: stack,
            lines: { show: lines, fill: true, steps: steps },
            bars: { show: bars, barWidth: 0.9, align: 'center' }
        },
        xaxis: {ticks: {{ labels|safe }}}
    };
    $.plot($("#placeholder"), data, options);
});
</script>

 </body>
</html>
