<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="layout.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="{{STATIC_URL}}expense//js/flot/excanvas.min.js"></script><![endif]-->
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}expense/js/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}expense/js/flot/jquery.flot.js"></script>

    <script language="javascript" type="text/javascript" src="{{STATIC_URL}}expense/js/flot/jquery.flot.pie.js"></script>
 </head>
 <body>
    <div id="placeholder" style="width:600px;height:300px;"></div>
<script id="source">
$(function () {
    var data = {{ chart_data|safe }};
    var options = {
	series: {
	    pie: { 
		show: true,
		radius: 1,
		label: {
		    show: true,
		    radius: 3/4,
		    formatter: function(label, series){
			return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
		    },
		    background: { opacity: 0.5 }
		}
	    }
	},
	legend: {
	    show: false
	}
    };
    
    $.plot($("#placeholder"), data, options);
});
</script>

 </body>
</html>
